@import "variables";

* {
  // box-sizing: border-box;
}

body {
  font-family: $font-faces;
  color: white;
  font-weight: $font-weight;
  a {
    color: $font-color-primary;
    letter-spacing: $letter-space;
    &:hover {
      color: darken($font-color-primary, 15%);
      text-decoration: none;
    }
  }
}

.wrapper {
  width: $content-width-wide;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap-top {
  height: 149px;
  font-size: 16px;
}

.top-nav {
  background-color: black;
  width: 100%;
  height: 149px;
}

.nav-row-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-row-top-box {
  margin: 0 10px;
  padding: 10px;
}

#shopping-cart {
  background-color: $font-color-primary;
  color: $font-color-alt;
  margin-right: 0;
  .cart-img {
    height: 15px;
    width: 15px;
    filter: invert(100%);
  }
}

.nav-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-row-bottom-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  #logo-box {
    width: 170px;
    height: 78px;
    padding: 0;
    padding-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }

  }
}

#search-panel {
  // display: flex;
  // flex-direction: row;
  width: 340px;
  height: 30px;
  border-color: $font-color-primary;
  input {
    color: $font-color-alt;
    background-color: black;
    width: 310px;
    border: none;
  }
  #search-icon {
    color: $font-color-primary;
    margin: auto 0;
    float: right;
    margin-left: 5px;
    // width: 30px;
    // height: 30px;
  }
}

.menu-box {
  padding: 20px;
}

// Begin main body content

.wrap-body {
  margin-top: 10px;
  margin-bottom: 10px;
  // border: $test-borders;
  color: black;
}

.body-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // border: $test-borders;
  height: 782px;
}

#big-column {
  width: 640px;
}

.body-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: $test-borders;
}

.content-box-small {
  // border: $test-borders;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 254px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: $font-color-alt;
    font-size: 16px;
    &:hover {
      color: $font-color-alt;
      text-decoration: none;
    }
  }
  p {
    color: $font-color-alt;
    font-size: 14px;
  }
}

.content-box-big {
  // border: $test-borders;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .text-overlay {
    a {
      color: $font-color-alt;
      font-size: 30px;
      &:hover {
        color: $font-color-alt;
        text-decoration: none;
      }
    }
    p {
      color: $font-color-alt;
      font-size: 14px;
    }
  }
}

.text-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.footer {
  background-color: black;
  width: 100%;
}

.bottom-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
