.wrap-body {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(4, 1fr);
  grid-gap: 10px;
  // object-fit: contain;
  // margin: 0 auto;
  // max-width: 1300px;
  // overflow: hidden;

}

.video {
  // display: flex;
  // justify-content: center;
  grid-row: 1 / span 3;
  grid-column: 1 / 5;
}

.content-box-big {
  grid-row: span 3;
  grid-column: 1 / span 2;
  background-color: lightblue;
}

.content-box-small {
  background-color: lime;
  // grid-row: span 2;
  // grid-column: span 1;
}

.video {
  background-color: red;
}

.body-column {
  background-color: blue;
}

.one {
  grid-row: 4 / 6;
  grid-column: 3 / 4;
}

.two {
  grid-row: 4 / 6;
  grid-column: 4 / 5;
}

.three {
  grid-row: 6 / 8;
  grid-column: 3 / 4;
}

.four {
  grid-row: 6 / 8;
  grid-column: 4 / 5;
}

.five {
  grid-row: 8 / 10;
  grid-column: 3 / 4;
}

.six {
  grid-row: 8 / 10;
  grid-column: 4 / 5;
}
